body {
margin: 0;
background: linear-gradient(to right, pink, darkslateblue);
padding: 50px;
}

section {
    width: 100%;
    float: left;
    display: flex;
    align-items: flex-start;
}

article {
    width: 250px;
    height: auto;
    display: inline-block;
    border-radius: 20px;
    margin-left: 20px;
    padding: 20px;
    background-color: rgba(240, 248, 255, 0.801);
}

.image {
    width: 250px;
}

time {
    font-size: 12px;
    font-family: Roboto;
    font-style: italic;
    font-weight: 100;
}

h1 {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 300;
}